asgiref==3.11.1
channels==4.3.1
click==8.3.1
colorama==0.4.6
cssbeautifier==1.15.4
daphne==4.2.1
Django==6.0.2
django-allauth==65.14.3
djlint==1.36.4
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.13.0
pathspec==1.0.4
python-dotenv==1.2.1
PyYAML==6.0.3
regex==2026.2.19
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
whitenoise==6.11.0
djangorestframework==3.15.1
django-cors-headers==4.4.0
djangorestframework-simplejwt==5.4.0
psycopg[binary]==3.1.18
dj-database-url==2.2.0
gunicorn==22.0.0
django-cloudinary-storage==0.3.0
cloudinary==1.41.0
